{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit
{% endblock %}

{% block body %}
	<h1>Creer un nouveau produit</h1>

	{{ include('produit/_form.html.twig') }}

	<a href="{{ path('produit_index') }}">Retour a liste</a>
{% endblock %}
