{% extends 'base.html.twig' %}

{% block title %}Modifier Profil
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Modifier Profil</h1>

		{{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('utilisateur_index') }}">Retour au profil</a>

		{{ include('utilisateur/_delete_form.html.twig') }}
	</div>
{% endblock %}
